@import url('https://fonts.googleapis.com/css?family=Concert+One|Courgette|Poppins|Russo+One|Noto+Serif|El+Messiri|Carter+One|Oswald|Vidaloka&display=swap');

.center{
    margin-left: 30%;
}
.top{
    margin-top: 70px;
    height: 45px;
    text-align: center;
}
.value{
    width: 100%;
    height: 70%;
}

.footer-top{
    background-color: rgb(112, 103, 241);
    padding: 10px;
}
.segment-one h3{
    font-family: poppins;
    letter-spacing: 3px;
    margin: 10px 0;
    border-left: 3px #0c0807 solid;
    padding-left: 8px;
}
.segment-two h2{
    color: #fff;
    font-family: poppins;
    
}
.segment-two h2::before{
    content: '|';
    color: #000000;
    padding-right: 8px;
}
.segment-two ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
    font-family:sans-serif;
    font-size: 18px;
}
.segment-two ul li a{
    color: #fff;
    text-decoration: none;
}
.segment-two ul li a:hover{
    color: rgb(19, 12, 10);
}
.segment-three h2{
    color: #fff;
    font-family: poppins;
    
}
.segment-three h2::before{
    content: '|';
    color: #000000;
    padding-right: 8px;
}
.segment-three a:hover{
    color: #fff;
}
.footer-bottom-text{
    text-align: center;
    background-color: #000;
    line-height: 75px;
    margin-bottom: 0;
}

.dist{
    margin-top: 75px;
}

form{
	background: #fff;
}

.form-container{
	border-radius: 10px;
	padding: 30px;
}
.height{
    height: 90%;
}
.row{
    height: 75%;
}

.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px  rgba(0,0,0,0.75);
}
.icon{
    color:black;
}
